.icon {
    width: 20px;
    height: 20px;
}

.boxcolor {
    background-color: #f5f5f5 !important;
}

.showbtn {
    color: royalblue !important;
}

.fa-ellipsis {
    color: rgb(110, 118, 125);
}

.sidebar {
    background-color: #777777;
    color: #777777;
}

.tags {
    color: #777777;
}

.fa-twitter {
    color: royalblue;
}

.fa-circle-check {
    color: royalblue;
}

.highlightbtn {
    background-color: black;
    border: black;
}

.sidebar {
    background-color: pink;
}

.fw-description {
    font-weight: normal; !important;
    color: #777777;
}

.follow-avatar {
    height: 48px;
    width: 48px;
}

.search-parent {
    position: relative;
}

.search-icon {
    position: absolute;
    left: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
}

.search-bar {
    padding-left: 10%;
    background-color: #f5f5f5;
}

.fa-badge-check {
    color: royalblue;
}

.explore-banner-container {
    position: relative;
}

.explore-banner-title {
    position: absolute;
    bottom: 0;
    left: 1rem;
    color: white;
}

.explore-post-img {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.list-group .list-group-item {
    background-color: white;
    color: black;
    border: 0;
}

.space {
    margin-left: 15px;
}

.list-group-item.active {
    font-weight: bold;
}

.nav-tabs {
    background-color: white;
}

.nav-item .nav-link {
    color: rgb(110, 118, 125);
}

.nav-item .nav-link.active {
    border: none;
    font-weight: bold;
    border-bottom: 2px solid var(--bs-primary);
}